:root {
    --light-pink: #FAE8FA;
    --pink: #EF314C;
    --dark-pink: #d91833;
}

html, body {
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-image: url("img/bg.png");
}

.container {
    max-width: 1192px;
    margin: auto;
    padding: 0 15px;
    background-color: rgba(255,255,255,0.7);
    min-height: 100vh;
    border-left: 1px solid var(--light-pink);
    border-right: 1px solid var(--light-pink);
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-weight: normal;
}

h1, h2, h3, h4 {
    margin-top: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 0;
    border-bottom: 5px dotted var(--pink);
    margin-bottom: 25px;
}

.logo {
    font-size: 38px;
}

.logo img {
    max-height: 42px;
}

.cat-list {
    display: flex;
    flex-wrap: wrap;
}

.cat-list article {
    padding: 5px;
    border: 1px solid #EEE;
    border-radius: 3px;
    margin: 3px;
    display: flex;
    align-items: center;
    background-color: #FAFAFA;
    box-sizing: border-box;
    transition: transform .2s;
}

.cat-list article:hover {
    transform: scale(1.1);
}

.cat-list img {
    display: block;
    max-width: 100%;
}

.cat-detail {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.cat-detail img {
    max-width: 100%;
    margin-bottom: 20px;
}

.price {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    border: 5px dotted var(--pink);
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input, textarea {
    font-family: inherit;
}

.cart-link img {
    display: inline-block;
    max-height: 24px;
}

button {
    font-family: inherit;
    display: block;
    background: none;
    border: none;
    outline: none;
    background-color: var(--pink);
    padding: 6px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
    color: #FFF;
}

button:hover {
    background-color: var(--dark-pink);
}

#search-form {
    position: relative;
}

#search-form label {
    display: block;
}

#results {
    position: absolute;
    background-color: rgba(255,255,255,0.95);
    width: 100%;
    border: 1px solid #EEE;
    box-sizing: border-box;
    z-index: 100;
}

#results a {
    display: block;
    padding: 10px 5px;
}

footer {
    margin-top: 60px;
    padding: 20px 0;
    text-align: center;
}

#create-cat-form label {
    display: block;
    margin: 10px 0 3px 0;
}

.cart-table {
    margin-bottom: 20px;
}

.cart-table td {
    padding: 4px 10px 4px 0;
    border-bottom: 1px solid #CCC;
    border-collapse: collapse;
}

@media screen and (min-width: 523px){
    .container {
        max-width: 478px;
    }
    .cat-list img {
        max-width: 220px;
    }
}

@media screen and (min-width: 761px){
    .container {
        max-width: 716px;
    }

    .left-col {
        margin-right: 20px;
    }

    .cat-detail {
        flex-direction: row;
    }
}

@media screen and (min-width: 999px){
    .container {
        max-width: 954px;
    }
}